body {
  font-family: Poppins, sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  margin: 0;
  background-color: #000;
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  font-size: 50px;
  padding: 0px 10px 10px 90px;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 1;
}

h1, h3 {
  border-bottom: 2px solid #000;
}

section {
  margin: 10px;
}

.firstSection {
  margin-top: 150px;
}

.link1 {
  text-decoration: none;
  color: #000;
}

.link1:hover {
  text-decoration: underline;
  font-weight: 900;
}

.link1:active {
  color: red;
}

section {
  width: 1500px;
  margin: 20px auto;
}

.container {
  width: 1250px;
  margin: 20px auto;
  background-color: whitesmoke;
  padding: 20px 50px;
  border: 1px solid #efefef;
}

.pane {
  display: flex;
  justify-content: space-around;
}

.select1, .select2, .select3 {
  color: blue;
}

.highlight {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: 900;
}

.selectChild > p {
  color: blue;
}

.codeExample {
  font-family: Arial, sans-serif;
  font-weight: 900;
  background-color: #000;
  color: #fff;
  padding: 20px;
  /*width: 1000px;*/
  margin: 0 auto;
}

.adjacentSelector label + input {
  background-color: transparent;
}

.listStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listStyle li {
  border-left: 1px solid #909090;
  border-right: 1px solid #909090;
  border-top: 1px solid #909090;
  width: 100px;
  text-align: center;
}

.listStyle :last-child {
  border-bottom: 1px solid #909090;
}

.listStyle li:hover {
  font-weight: 900;
  font-size: 20px;
}

.inside {
  list-style-position: inside;
  border: 1px solid red;
}

.outside {
  list-style-position: outside;
  border: 1px solid red;
}

.listImage {
  list-style-image: url("../assets/cool.gif");
}

.tableStyle {
  border: 10px solid blue;
  width: 100%;
  border-collapse: collapse;
}

.tableStyle td {
  text-align: center;
}

.pane table {
  border-collapse: collapse;
}

.pane table td{
  border: 1px solid black;
}

.topAlign td{
  vertical-align: top;
}

.centerAlign td{
  vertical-align: center;
}

.bottomAlign td{
  vertical-align: bottom;
}

.tableHoverEffect {
  border-collapse: collapse;
  border: 1px solid #000;
  margin: 0 auto;
}

.tableHoverEffect tr:hover{
  background-color: #ccc;
}

.tableHoverEffect tr td {
  padding: 10px 100px;
}

.tableHoverEffect tr td:hover {
  background-color: #909090;
  font-weight: 900;
  font-size: 18px;
}

.tableMiniProject {
  /*width: 100%;*/
  border-collapse: collapse;
  text-align: left;
  margin: 0 auto;
}

.tableMiniProject thead {
  border-bottom: 1px solid #ccc;
}

.tableMiniProject tfoot {
  border-top: 1px solid #ccc;
}

.tableMiniProject tr td {
  font-size: 15px;
}

.tableMiniProject tr th, td {
  padding: 10px 30px;
}

.tableMiniProject tbody tr:hover {
  background-color: #424242;
  color: #fff;
}

.tableMiniProject tbody tr td:hover {
  font-weight: 900;
  background-color: #676767;
}

.displayBlock {
  display: block;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.displayInline {
  display: inline-block;
  border: 1px solid #000;
}

.inlineElement {
  border: 1px solid #000;
}

.inline {
  display: inline;
}

.inline > div {
  font-size: 15px;
  text-decoration: underline;
}

.inlineBlock {
  display: inline-block;
  border: 1px solid #909090;
  height: 100px;
  width: 200px;
  text-align: center;
}

.inlineBlock:hover {
  background-color: #ccc;
}

.relative {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid #909090;
}

.relativePosition div:last-child {
  position: relative;
  left: 200px;
}

.rel {
  margin: 0 auto;
  position: relative;
  height: 400px;
  width: 400px;
  background-color: #909090;
}

.abs {
  position: absolute;
  background-color: #cccccc;
  height: 100px;
  width: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.abs:hover {
  background-color: #343942;
}

.oScroll {
  height: 200px;
  border: 1px solid #cccccc;
  overflow: auto;
  background-color: #909090;
}

.oScroll:hover {
  background-color: #ccc;
}

.floatPractice {
  position: relative;
}

.floatPractice img {
  float: left;
  height: 130px;
  width: 130px;
  margin: 0 10px 0 0;
}

.clearImg {
  height: 100px;
  width: 100px;
  float: left;
}

.clearImg2 {
  height: 100px;
  width: 100px;
  float: right;
}

.clearImages {
  clear: both;
}

.clearFix {
  border: 2px solid #ccc;
  overflow: auto;
}

.clearFix img {
  float: right;
  height: 200px;
  width: 200px;
  margin: 10px;
}

