body {
  font-family: Shirkhand, sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

nav {
  display: inline;
}

#nav-container {
  display: inline-flex;
}

.nav {
  display: none;
}

#nav-container:hover .nav {
  display: inline-block;
  position: absolute;
  width: 100%;
}

#nav-container:hover .nav li {
   background-color: #efefef;
   width: 80px;
}

#nav-container:hover .nav li:hover {
  background-color: #343942;
  color: #ffffff;
}


nav {
  border-bottom: 2px solid #cccccc;
  padding: 30px;
  display: block;
}

#body {
  margin: 50px auto;
  width: 1000px;
  background-color: #cccccc;
  padding: 50px;
  border: 1px solid #efefef;
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  border-radius: 1%;
}

.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

